
@model PagedList.IPagedList<Expressions360.Models.ArticlesModel>
@using PagedList.Mvc
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



        <h2>@ViewBag.Title</h2>
        <p></p>

        @using (Html.BeginForm("Index", "Articles", FormMethod.Get))
        {
            <div class="form-group col-md-9">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    @Html.Editor("SearchString", ViewBag.currentFilter as string, new { htmlAttributes = new { @class = "form-control", placeholder = "Key Word" } })
                </div>
                <div class="col-md-3">
                    <button type="submit" class="btn btn-block btn-primary">
                        <span class="glyphicon glyphicon-search"> Search</span>
                    </button>
                </div>

            </div>
        }

<table class="table table-striped">
        @*<tr>

                <th>@Html.ActionLink("Title", "Index", new { currentFilter = ViewBag.CurrentFilter })</th>
                <th>Body</th>
            </tr>*@

        @foreach (var item in Model)
        {
            @*<tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
            </tr>*@
            <tr>
                <td>                   
                        @Html.DisplayFor(modelItem => item.Title)                
                    
                    @{
                        string Body = Server.HtmlDecode(item.Body);
                    }
                    @Html.Raw(Body)
                </td>

            </tr>
                        }

    </table>

        <br />
        Page@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
